<?xml version="1.0" encoding="UTF-8"?>
<plugin id="net.handspiel.plugin.applicationcache.remover" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ApplicationCacheRemover</name>
    <description>Clears the ApplicationCache.db in iOS.</description>
    <license>MIT</license>
    <keywords>cordova,applicationcache,appcache,manifest</keywords>
    <repo>https://github.com/kloener/handspiel-plugin-applicationcache-remover.git</repo>

    <js-module src="www/applicationcache-remover.js" name="ApplicationCacheRemover">
        <clobbers target="window.ApplicationCacheRemover" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ApplicationCacheRemover">
                <param name="ios-package" value="HNDApplicationCacheRemover" />
            </feature>
        </config-file>
        <framework src="libsqlite3.dylib" />
        <header-file src="src/ios/HNDApplicationCacheRemover.h" />
        <source-file src="src/ios/HNDApplicationCacheRemover.m" />
    </platform>
</plugin>
