<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.handspiel.plugin.applicationcache.remover"
    version="1.0.0">
    <name>ApplicationCache Remover</name>
    <description>Removes the ApplicationCache.db in iOS.</description>
    <license>CC BY 4.0</license>
    <keywords>cordova,applicationcache,appcache,manifest</keywords>
    <repo>https://github.com/kloener/handspiel-plugin-applicationcache-remover.git</repo>

    <js-module src="www/applicationcache-remover.js" name="ApplicationCacheRemover">
        <clobbers target="window.ApplicationCacheRemover" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ApplicationCacheRemover">
                <param name="ios-package" value="HNDApplicationCacheRemover" />
            </feature>
        </config-file>
        <framework src="libsqlite3.dylib" />
        <header-file src="src/ios/HNDApplicationCacheRemover.h" />
        <source-file src="src/ios/HNDApplicationCacheRemover.m" />
    </platform>
</plugin>
